* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background: #C9D6FF; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 0px;
  text-align: center;
  padding: 20px 30px;
}
body #form {
  text-align: center;
}
body #form .all-input {
  margin: 15px;
}
body #form .all-input .name {
  padding: 10px 20px;
}
body #form .all-input .surname {
  padding: 10px 20px;
}
body #form .all-input .email {
  padding: 10px 20px;
}
body #form .all-input .password {
  padding: 10px 20px;
}
body #form .all-input .password2 {
  padding: 10px 20px;
}
body #form .all-input .number {
  padding: 10px 20px;
}
body #form .all-input .age {
  padding: 10px 20px;
}
body #form .all-input .date {
  padding: 10px 20px;
}
body #form .all-input .address {
  padding: 10px 20px;
}
body #form .all-input .describe {
  padding: 10px 20px;
}
body #form .all-input .zip {
  padding: 10px 20px;
}
body #form .all-input .male {
  padding: 10px 20px;
}
body #form .all-input .female {
  padding: 10px 20px;
}
body #form .all-input .errorName {
  color: red;
}
body #form button {
  margin: 15px;
  padding: 17px 60px;
  background-color: pink;
  color: white;
  border-radius: 10px;
  border: none;
}